@model AzureSLABViewer.Web.Models.StorageConnection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StorageConnection</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConnectionString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectionString)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StorageConnectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
