@model IEnumerable<AzureSLABViewer.Web.Models.StorageConnection>

@{
    ViewBag.Title = "Storage Connections";
}

<h2>Storage Connections</h2>

<p>
    @Html.ActionLink("Create New Connection", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConnectionString)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConnectionString)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StorageConnectionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StorageConnectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StorageConnectionID })
        </td>
    </tr>
}

</table>
