@model AzureSLABViewer.Web.Models.SLABLogListViewModel
@{
    ViewBag.Title = "SLAB Logs";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("List", "Log"))
{
    @Html.DropDownListFor(t => t.SelectedSLABLogTable, new SelectList(Model.SLABLogTables, "Name", "Name"), "Please select a log table", new { onchange = "this.form.submit();" });
}
<table class="table">
    <thead>
        <tr>
            <th>Level</th>
            <th>Event Date/Time UTC</th>
            <th>Provider / Instance</th>
            <th>Event ID</th>
            @*<th>Keywords</th>
                <th>Task</th>
                <th>Opcode</th>*@
            <th>Message</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.SLABLogItems)
        {
            <tr>
                <td>
                    @switch (log.Level)
                    {
                        case 0:
                            <span class="label label-default">Log Always</span>
                            break;
                        case 1:
                        <span class="label label-danger">Critical</span>
                            break;
                        case 2:
                        <span class="label label-danger">Error</span>
                            break;
                        case 3:
                        <span class="label label-warning">Warning</span>
                            break;
                        case 4:
                        <span class="label label-info">Info</span>
                            break;
                        case 5:
                        <span class="label label-default">Verbose</span>
                            break;
                        default:
                        <span class="label label-default">@log.Level</span>
                            break;
                    }
                </td>
                <td>@log.EventDate</td>
                <td class="instance-name">
                    <span title="@log.ProviderName">@log.ProviderName</span><br />
                    <span title="@log.InstanceName">@log.InstanceName</span>
                </td>
                <td>@log.EventId</td>
                @*<td>@log.Keywords</td>
                    <td>@log.Task</td>
                    <td>@log.Opcode</td>*@
                <td>
                    @if (log.Message.Length > 250)
                    {
                        <span class="truncated">@log.Message.Substring(0, 250) ...</span>
                    }
                    else
                    {
                        <span>@log.Message</span>
                    }
                </td>
                <td>
                    <a href="/Log/Details?pk=@log.PartitionKey&rk=@log.RowKey">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.HasNextPage)
{
    <a href="/Log/List?pk=@ViewBag.NextPartitionKey&rk=@ViewBag.NextRowKey">Next Page</a>
}